<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{@blog.title}}</title>
    <meta name="description" content="A student-run charity race to a mystery location in aid of Amnesty International and Society Vincent de Paul (SVP)">

    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    <link rel="stylesheet" href="{{asset "dist/styles/jailbreak.css"}}">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    {{ghost_head}} {{! Ghost outputs important style and meta data with this tag }}
  </head>
  <body class="{{body_class}}">

    <div class="contain-to-grid fixed">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1 id="logo-title"><a href="https://jailbreakhq.org">{{@blog.title}}</a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          {{!-- <ul class="right">
            <li class="active"><a href="#">Apply Now</a></li>
          </ul> --}}

          <!-- Left Nav Section -->
          <ul class="left">
            <li class="divider"></li>
            <li><a href="https://jailbreakhq.org/teams">Teams</a></li>
            <li class="divider"></li>
            <li><a href="https://about.jailbreakhq.org/about-jailbreak/">About</a></li>
            <li class="divider"></li>
            <li><a href="https://about.jailbreakhq.org/contact">Contact</a></li>
          </ul>
        </section>
      </nav>
    </div>

    {{{body}}}

    <footer class="main-footer">
      <div class="row">
        <div class="small-12 medium-6 columns">
          <ul>
            <li>
              <a href="//twitter.com/jailbreakhq"><i class="fa fa-twitter"></i> @JailbreakHQ</a>
            </li>
            <li>
              <a href="//facebook.com/JailbreakHQ/"><i class="fa fa-facebook"></i> JailbreakHQ</a>
            </li>
            <li>
              <a href="https://www.youtube.com/user/Jailbreak14Videos"><i class="fa fa-youtube"></i> Channel</a>
            </li>
          </ul>
        </div>
        <div class="small-12 medium-6 columns">
          <ul class="footer-right">
            <li>
              <a href="http://www.svp.ie/Home.aspx" class="hide-link">SVP: CHY 6892</a>
            </li>
            <li>
              <a href="http://www.amnesty.ie/" class="hide-link">Amnesty: CHY 5890</a>
            </li>
            <li>
              <span class="copy-statement">&copy; JailbreakHQ</span>
            </li>
        </div>
      </div>
    </footer>

    {{ghost_foot}} {{! Ghost outputs important scripts and data with this tag }}
    <script src="{{asset "dist/scripts/components.js"}}"></script>
    <script src="{{asset "dist/scripts/jailbreak.js"}}"></script>

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=PT+Serif:400,700,400italic|Open+Sans&subset=latin,cyrillic">
  </body>
</html>