{{!< default}}
{{! The comment above "< default" means - insert everything in this file into the {body} of the default.hbs template, which contains our header/footer. }}

<div class="cover">
  <header {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}} id="landing-header">
    <div id="landing-content">
      <h1 id="jb-logo" class="fadeInDown animated">Jailbreak 2015</h1>

      <h3 class="fadeIn animated">applications close in ...</h3>
      <div id="countdown-timer"></div>
    </div>
  </header>

  <div id="cover-cta-box" class="cta-box">
    <div class="row">
      <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
        <h3>{{@blog.title}}</h3>
        <p>{{@blog.description}}</p>
        <a class="button primary round" href="https://docs.google.com/forms/d/1UobBqkXvDFRcYgxR2rkR6ZiaLgNODiJM7r-L_tVJYxg/viewform">Apply Now</a></button>
      </div>
    </div>
  </div>
</div>


<div class="row main-content">
  <div class="small-12 medium-6 columns">
    <h3>Are you ready?</h3>
    <div class="flex-video widescreen">
      <iframe width="560" height="315" src="//www.youtube.com/embed/MW5DhQPTqMY" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="small-12 medium-6 columns">
    <h3 class="faq-header">Frequently Asked Questions</h3>
    <ul class="accordion" data-accordion>
    {{#foreach posts}}
      <li class="accordion-navigation">
        <a href="#faq{{id}}" class="faq-title">{{{title}}}</a>

        <div id="faq{{id}}" class="content">{{content}}</div>
      </li>
    {{/foreach}}
    </ul>
  </div>
</div>

<div class="cta-box">
    <div class="row">
      <div class="small-12 medium-10 medium-offset-1 large-8 large-offset-2 columns">
        <h5>Don't miss out. Join the adventure!</h5>
        <a class="button primary round" href="https://docs.google.com/forms/d/1UobBqkXvDFRcYgxR2rkR6ZiaLgNODiJM7r-L_tVJYxg/viewform">Apply Now</a></button>
      </div>
    </div>
  </div>